.error-data {
  margin: 2% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-data h2 {
  color: red;
  text-align: center;
}

.error-data img {
  margin-top: 10%;
  width: 20%;
  height: 10%;
}

.loading {
  margin: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading h2 {
  color: #d81b60;
  text-align: center;
}

.cocktail {
  margin: 2%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.error-drink {
  text-align: center;
  margin: 2% 40%;
  color: red;
}
